<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guixin.mapper.UserMapper">

    <select id="getRolesByUserId" resultType="java.lang.Integer">
        select role_id from user_role where user_id = #{userId}
    </select>
    
    <insert id="addUserRoles">
        insert into user_role (user_id,role_id) values (#{userId},#{roleId})
    </insert>

    <delete id="delUserRoles">
        delete from user_role where user_id = #{userId}
    </delete>

    <update id="updatePass">
        update user set password = #{password} where username = #{username}
    </update>

    <update id="updateAvatar">
        update user set avatar = #{avatar} where username = #{username}
    </update>
</mapper>
