<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guixin.mapper.UserMapper">

    <select id="getRolesByUserId" resultType="java.lang.Integer">
        select role_id from user_role where user_id = #{userId}
    </select>
    
    <insert id="addUserRoles">
        insert into user_role (user_id,role_id) values (#{userId},#{roleId})
    </insert>

    <delete id="delUserRoles">
        delete from user_role where user_id = #{userId}
    </delete>

    <update id="updatePass">
        update user set password = #{password} where username = #{username}
    </update>

    <update id="updateAvatar">
        update user set avatar = #{avatar} where username = #{username}
    </update>

    <select id="countByDepts" parameterType="java.util.Set" resultType="int">
        select count(1) from user where dept_id in
        <foreach collection="deptIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="countByRole" parameterType="java.lang.Integer" resultType="int">
        select count(1) from user u,user_role ur where u.user_id = ur.user_id
        and role_id = #{roleId}
    </select>
</mapper>
